section.banner h1,
section.banner p {
    color: var(--primary-text-color);
}

section.banner h1 span {
    border-bottom: 1px solid var(--foreground-color);
    font-weight: bolder;
}

section.banner h2 {
    color: var(--secundary-text-color);
    opacity: 0.8;
    font-size: large;
    font-weight: 500;
}

.banner {
    height: 100%;
    width: 100%;
    padding: 3.5rem 0 1rem 0;
}

section.banner div.container,
.banner-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

section.banner div.container {
    height: 100%;

}

.banner-section {
    padding: 1rem 0;
    width: 100%;
}

.banner-pic {
    width: 100%;
    height: auto;
}

.banner-text {
    gap: .5rem;
}

button.banner-button {
    margin: 1rem 0;
    align-self: center;
    font-size: large;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);

    border: 1px solid black;
    box-shadow: 1px 1px black;
}

/* 
TODO: Button Styling 

1) :hover => scaleup 
2) :focus => chage borde Color
3) :active
*/

button.banner-button:hover,
button.banner-button:focus {
    background-color: var(--button-bg-color);
    animation: scale-up-center 0.4s;
}


button.banner-button:active {
    background-color: var(--button-active-color);
    animation: scale-down-center 0.4s;
    opacity: 0.8;
}

.banner-text p {
    margin: .5rem 0;
    text-indent: 1rem;
    text-align: justify;
    font-size: large;
}

section.banner img {
    width: 100%;
    height: auto;
    max-width: 340px;
    border-radius: 50% 50% 70% 30% / 70% 45% 56% 30%;
}

@media (min-width:768px) {
    .banner-content {
        height: 100%;
        align-items: center;
    }

    .banner-text p {
        margin: 1rem 0;
    }

    button.banner-button {
        align-self: flex-start;
    }
}