nav.navbar,
div.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: 0.32s ease-in-out;

    flex-direction: column;
}

nav.navbar div.navbar-nav {
    position: relative;
}

nav.navbar div#navbar-blur {
    position: absolute;
    top: 1rem;
    right: 0;
    width: 100dvw;
    height: 100dvh;

    background-color: var(--background-color);
    opacity: 0.8;
}

nav.navbar.scrolled {
    padding: 0px 0;
    background-color: var(--background-color);
}

a.navbar-brand,
a.navbar-link {
    color: var(--primary-text-color);

    /* VFX */
    background-image: linear-gradient(to right,
            var(--foreground-color),
            var(--foreground-color) 50%,
            var(--primary-text-color) 50%);
    background-size: 200% 100%;
    background-position: -100%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: all 0.3s ease-in-out;
}

a.navbar-link {
    display: block;
    margin: .5rem 0;
    font-weight: bold;
    opacity: 0.8;
}

a.navbar-brand:hover,
a.navbar-link:hover:not(:active) {
    background-position: 0;
    animation: scale-up-center 0.4s;
}

a.navbar-brand:active,
a.navbar-link:active {
    background-position: 0;
    animation: scale-down-center 0.4s;
}

a.navbar-link.active-link {
    background-image: none;
    background-color: var(--foreground-color);
    border-bottom: 1px solid var(--foreground-color);
    border-width: 50%;
}

a.navbar-brand {
    font-weight: bolder;
    font-size: x-large;
}

button.navbar-toggler {
    margin: 0 1rem;
}

@media (min-width: 992px) {
    a.navbar-link {
        display: inline-block;
        margin: 0 .5rem;
    }

    #basic-navbar-nav {
        display: flex;
        justify-content: flex-end;
    }
}