/* Imports */
/* @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("fontawesome-all.min.css"); */
/* Variables */
:root {
  /* Light Mode Colors Scheme*/
  --text-light: black;
  --text-dark: gray;
}
/* Resets */
/* * {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

/* Basics */
html,
body {
  height: 100%;
}
